*.tcz filter=lfs diff=lfs merge=lfs -text
rust-*.gz filter=lfs diff=lfs merge=lfs -text
ca-certificates.tcz !text !filter !merge !diff
curl.tcz !text !filter !merge !diff
gcc_libs.tcz !text !filter !merge !diff
libzstd.tcz !text !filter !merge !diff
openssl.tcz !text !filter !merge !diff
tce-load-github-lfs.tcz !text !filter !merge !diff
tce-load-hooks.tcz !text !filter !merge !diff
